<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header-css"/>

<body>

<div th:replace="fragments/header :: header"/>
<br>
<div class="container">

    <div class="heading">
        <h3>Asset Additions</h3>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" th:if="${successAdd}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 th:text="${successAdd}"></h2>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add a New Asset</h3>
        </div>
        <div class="panel-body">
            <!--/*@thymesVar nomenclature="fixedAsset" type="io.github.fasset.fasset.model.FixedAsset"*/-->
            <form class="form-inline" role="form" action="#" th:action="@{/add/asset}" th:object="${fixedAsset}">
                <br />
                <div class="row align-centre">
                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                        <label for="solId">Sol Id:</label>
                        <input th:field="*{solId}" class="form-control text-centre" id="solId">
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                        <label for="barcode">Barcode:</label>
                        <div class="input-group">
                            <span class="input-group-addon">ABC</span>
                            <input th:field="*{barcode}" class="form-control text-left" id="barcode" aria-label="barcode (as text)">
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                        <label for="category">Category:</label>
                        <input th:field="*{category}" class="form-control text-centre" id="category">
                    </div>
                </div>

                <br/>

                <div class="row align-centre">
                    <!--text area for description-->
                    <div class="align-left form-group col-lg-7 col-md-7 col-sm-7">
                        <label for="description">Asset Description </label>
                        <textarea th:field="*{assetDescription}" class="form-control" id="description" rows="9" cols="45">
                    </textarea>
                    </div>
                    <!--to arrange form-group items below vertically-->
                    <div class="inline-block vertical-align align-right col-lg-5 col-md-5 col-sm-5">
                        <br/>
                        <div class="row align-top">
                            <div class="form-group col-lg-5 col-md-5 col-sm-5">
                                <label for="purchaseCost">Purchase Cost:</label>
                                <input th:field="*{purchaseCost}" class="form-control text-centre" id="purchaseCost">
                            </div>
                        </div>
                        <br/>
                        <div class="row align-bottom">
                            <div class="form-group col-lg-5 col-md-5 col-sm-5">
                                <label for="purchaseDate">Purchase Date:</label>
                                <input th:field="*{purchaseDate}" class="form-control text-centre" id="purchaseDate">
                            </div>
                        </div>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="align-left row col-lg-2 col-md-2 col-sm-2">
                        <!--space for the button on the left-->
                    </div>

                    <div class="align-right col-lg-10 col-md-10 col-sm-10">
                        <button type="submit" class="btn btn-default ">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>