<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header-css"/>

<body>

<div th:replace="fragments/header :: header"/>

<br>

<div class="container">

    <div class="heading">
        <h3>Categories</h3>
    </div>

    <br>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add a New Category</h3>
        </div>
        <div class="panel-body">
            <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
            <form role="form" method="POST" class="form-inline"
                  action="#" th:action="@{/categories}" th:object="${category}">
                <div class="row">
                    <div th:classappend="${#fields.hasErrors('designation')} ? 'input-icon right' : ''" class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label for="designation">Designation:</label>
                        <i th:if="${#fields.hasErrors('designation')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid designation" data-container="body"></i>
                        <!--/*@thymesVar nomenclature="editCategory" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                        <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                        <input class="form-control" id="designation" name="designation" type="text" th:field="*{designation}">
                        <span th:if="${#fields.hasErrors('designation')}" class="help-block" th:errors="*{designation}"></span>
                    </div>
                    <div th:classappend="${#fields.hasErrors('depreciationRate')} ? 'input-icon right' : ''" class="form-group col-lg-3 col-md-3 col-sm-3">
                        <i th:if="${#fields.hasErrors('depreciationRate')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid depreciation rate per annum" data-container="body"></i>
                        <label for="depreciationRate">Depreciation Rate:</label>
                        <div class="input-group">
                            <!--/*@thymesVar nomenclature="editCategory" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                            <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                            <input type="number" step="any" th:field="*{depreciationRate}" class="form-control text-right" name="depreciationRate" id="depreciationRate" aria-label="Rate (as percentage)">
                            <span class="input-group-addon">%</span>
                        </div>
                        <span th:if="${#fields.hasErrors('depreciationRate')}" class="help-block" th:errors="*{depreciationRate}"></span>
                    </div>
                    <div th:classappend="${#fields.hasErrors('depreciationLogic')} ? 'input-icon right' : ''" class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label for="depreciationLogic">Depreciation Regime:</label>
                        <!--/*@thymesVar nomenclature="editCategory" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                        <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                        <select type="text" th:field="*{depreciationLogic}" class="form-control" name="depreciationLogic" id="depreciationLogic">
                            <option value="straightLine">STRAIGHT LINE</option>
                            <option value="decliningBalance">DECLINING BALANCE</option>
                        </select>
                        <span th:if="${#fields.hasErrors('depreciationLogic')}" class="help-block" th:errors="*{depreciationLogic}"></span>
                    </div>
                    <div th:classappend="${#fields.hasErrors('deprecant')} ? 'input-icon right' : ''" class="form-group col-lg-3 col-md-3 col-sm-3">
                        <i th:if="${#fields.hasErrors('deprecant')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid deprecant designation" data-container="body"></i>
                        <label for="deprecant">Deprecant:</label>
                        <!--/*@thymesVar nomenclature="editCategory" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                        <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                        <select type="text" th:field="*{deprecant}" class="form-control" name="deprecant" id="deprecant">
                            <option value="purchaseCost">Purchase Cost</option>
                            <option value="netBookValue">Net Book Value</option>
                        </select>
                        <span th:if="${#fields.hasErrors('deprecant')}" class="help-block" th:errors="*{deprecant}"></span>
                    </div>
                </div>

                <br/>

                <div class="row">

                    <div th:classappend="${#fields.hasErrors('categoryLedgerId')} ? 'input-icon right' : ''" class="align-left form-group col-lg-3 col-md-3 col-sm-3">
                        <i th:if="${#fields.hasErrors('categoryLedgerId')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid category ledger Id" data-container="body"></i>
                        <p><label for="categoryLedgerId">Ledger Id:</label></p>
                        <p><div class="input-group">
                            <!--/*@thymesVar nomenclature="editCategory" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                            <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                            <input type="number" th:field="*{categoryLedgerId}" name="categoryLedgerId" id="categoryLedgerId" class="form-control text-right" aria-label="Rate (as percentage)">
                        </div></p>
                        <span th:if="${#fields.hasErrors('categoryLedgerId')}" class="help-block" th:errors="*{categoryLedgerId}"></span>
                    </div>

                    <div class="align-right align-bottom form-group col-lg-3 col-md-3 col-sm-3">
                        <br />
                        <p></p>
                        <p></p>
                        <p><button type="submit" class="btn btn-default ">Submit</button></p>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="panel panel-primary">

        <div class="table-wrapper-2">
            <!-- Table -->
            <table class="table table-hover table-responsive">
                <thead class="blue-grey lighten-4">
                    <tr>
                        <th>Designation</th>
                        <th>Ledger Id</th>
                        <th>Logic</th>
                        <th>Depreciation Rate</th>
                    </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar nomenclature="categories" type="java.util.List"*/-->
                <!--/*@thymesVar nomenclature="category" type="io.github.fasset.fasset.model.CategoryConfiguration"*/-->
                    <tr  th:each="category : ${categories}" style="cursor: pointer">
                        <td th:text="${category.designation}" />
                        <td th:text="${category.categoryLedgerId}" />
                        <td th:text="${category.depreciationLogic}" />
                        <td th:text="${category.depreciationRate}" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>