<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header-css"/>

<body>

<div th:replace="fragments/header :: header"/>
<br>
<div class="container">

    <div class="heading">
        <h3>Service Outlets</h3>
    </div>



    <table id="serviceOutletBriefs" class="display nowrap table-condensed table-hover table-striped">

        <thead class="blue-grey lighten-4">

        <tr>
            <th>Id</th>
            <th>Designation</th>
            <th>Purchase Cost</th>
            <th>Net Book Value</th>
            <th>Accrued Depreciatin</th>
            <th>Poll</th>
        </tr>

        </thead>

        <tfoot class="blue-grey lighten-4">

        <tr>
            <th>Id</th>
            <th>Designation</th>
            <th>Purchase Cost</th>
            <th>Net Book Value</th>
            <th>Accrued Depreciatin</th>
            <th>Poll</th>
        </tr>

        </tfoot>


    </table>

</div>

<div th:replace="fragments/footer :: footer"/>

<!--<script th:src="@{/js/DataTables/datatables.min.js}"></script>-->
<script th:src="@{/js/serviceOutletBrief.js}"></script>

</body>

</html>