  <div *ngIf="asset">
    <h3>{{asset.name|uppercase}} DETAILS</h3>
  <div><span>id: </span>{{asset.id}}</div>
  <div><span>name: </span>{{asset.name}}</div>
  <div><span>category: </span>{{asset.category}}</div>
  <div><span>value: </span>{{asset.value}}</div>
  <div>
    <div>
      <label>name: 
        <input [(ngModel)]="asset.name" placeholder="name">
      </label>
    </div>
    <div>
      <label>category: 
        <input [(ngModel)]="asset.category" placeholder="category">
      </label>
    </div>
    <div>
      <label>value: 
        <input [(ngModel)]="asset.value" placeholder="value">
      </label>
    </div>
  </div>
  </div>
  <div>
    <button (click)="goBack()">go back</button>
  </div>
  <div>
    <button (click)="save()">save</button>
  </div>
