<h2>Asset List</h2>

<div>
  <label>Asset name:
    <input #assetName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(assetName.value); assetName.value=''">
    add
  </button>
</div>

<ul class="assets">
  <li *ngFor="let asset of assets">
    <a routerLink="/detail/{{asset.id}}">
      <span class="badge">{{asset.id}}</span> {{asset.name}}
    </a>
    <button class="delete" title="delete asset"
    (click)="delete(asset)">x</button>
  </li>
</ul>