<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
    <!-- this is header-css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/js/DataTables/datatables.min.css}">
    <script th:src="@{/js/DataTables/datatables.min.js}"></script>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />-->
</head>
<body>
<div th:fragment="header">
    <!-- this is the nav bar -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">fassets</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item"><a th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a th:href="@{/files}">Uploads</a></li>
                    <li class="nav-item"><a th:href="@{/categories}">Category Config</a></li>
                    <li class="nav-item"><a th:href="@{/add/asset}">Additions</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Briefs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a th:href="@{/assetList}">Asset Listing</a></li>
                            <li class="nav-item"><a th:href="@{/briefs/categories}">Category Brief</a></li>
                            <li class="nav-item"><a th:href="@{/briefs/serviceOutlets}">SOL Brief</a></li>
                        </ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Depreciation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a th:href="@{/reports/depreciations/assets}">Asset Depreciation</a></li>
                            <li class="nav-item"><a th:href="@{/reports/depreciations/sols}">Sol Depreciation</a></li>
                            <li class="nav-item"><a th:href="@{/reports/depreciations/categories}">Category Depreciation</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>