<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fasset </title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="jumbotron">

        <div class="top-left links">

            <a th:href="@{/}">Home</a>

            <a href="#">Login</a>
            <a href="#">Register</a>

        </div>

        <h1>Fassets</h1>
        <p>Fasset is a small project for analyzing and calculating depreciation for a future period of time (5 years) on a month by month basis, using only two depreciation regimes, (reducing balance basis and straight line basis)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>
    </div>



</div>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>
